@model FoosballProLeague.Webserver.Models.HomePageViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoosballProLeague</title>
    <a href="#"><link rel="icon" href="/favicon.ico" type="image/x-icon"></a>    <link rel="stylesheet" href="~/css/HomePage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/homepage.js"></script>
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/HomePage.css">


</head>
<body>
    <main class="main">
        <h1>TESTING</h1>
        <section class="leaderboard-section">
        <div class="leaderboard">
            <div class="leaderboard-header">
                <h2>Leaderboard</h2>
                <a href="@Url.Action("GetUsers1v1", "HomePage", new { pageNumber = 1, pageSize = Model.PageSize })" class="elo-button @(Model.Mode == "1v1" ? "active" : "")" data-mode="1v1">1v1</a>
                <a href="@Url.Action("GetUsers2v2", "HomePage", new { pageNumber = 1, pageSize = Model.PageSize })" class="elo-button @(Model.Mode == "2v2" ? "active" : "")" data-mode="2v2">2v2</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Elo</th>
                </tr>
                </thead>
                <tbody id="leaderboardBody">
                @if (Model.Users != null && Model.Users.Count > 0)
                {
                    for (int i = 0; i < Model.Users.Count; i++)
                    {
                        <tr>
                            <td>@((Model.PageNumber - 1) * Model.PageSize + i + 1)</td>
                            <td>@Model.Users[i].FirstName @Model.Users[i].LastName </td>
                            <td>@(Model.Mode == "1v1" ? Model.Users[i].Elo1v1 : Model.Users[i].Elo2v2)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No users found</td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="pagination">
                <a href="#" class="previous-page">Previous</a>
                <span>Page 1</span>
                <a href="#" class="next-page">Next</a>
            </div>
        </div>
        </section>
        <section class="match-section">
            <section class="ongoing-match-section">
                <div class="ongoing-match">
                    <h2>Ongoing match</h2>
                    @if (Model.ActiveMatch != null)
                    {
                        <div class="match-info">
                            <div class="match-time" data-start-time="@Model.ActiveMatch?.StartTime.ToString("o")">
                                @Model.ActiveMatch?.StartTime.ToString("HH:mm:ss")
                            </div>
                            <div class="match-team">
                                <span class="team-red">Team Red</span>
                                <p>@Model.ActiveMatch?.RedTeamUser1</p>
                                <p>@Model.ActiveMatch?.RedTeamUser2</p>
                            </div>
                            <div class="match-score">
                                <span class="score">@Model.ActiveMatch?.RedTeamScore</span>
                                <span class="dash"> - </span>
                                <span class="score">@Model.ActiveMatch?.BlueTeamScore</span>
                            </div>
                            <div class="match-team">
                                <span class="team-blue">Team Blue</span>
                                <p>@Model.ActiveMatch.BlueTeamUser1</p>
                                <p>@Model.ActiveMatch.BlueTeamUser2</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>No ongoing match</div>
                    }
                </div>
            </section>
            <section class="match-history-section">
                <div class="match-history">
                    <h2>Match history</h2>
                    @if (Model.MatchHistory != null)
                    {
                        <table>
                            <tbody>
                            @foreach (MatchHistoryViewModel match in Model.MatchHistory)
                            {
                                <tr>
                                    <td class="team-red">
                                        <span class="team-red-user1"> @match.RedTeamUser1 </span> 
                                        <span class="team-red-user2"> @if (!string.IsNullOrEmpty(match.RedTeamUser2)) { @match.RedTeamUser2 } </span>
                                    </td>
                                    <td class="versus">VS</td>
                                    <td class="team-blue">
                                        <span class="team-blue-user1"> @match.BlueTeamUser1 </span>
                                        <span class="team-blue-user2">@if (!string.IsNullOrEmpty(match.BlueTeamUser2)) { @match.BlueTeamUser2 } </span>
                                    </td>
                                    <td>
                                        @match.TimeAgo
                                    </td>
                                    <td>
                                        <span class="team-red-score">@match.RedTeamScore</span> - <span class="team-blue-score">@match.BlueTeamScore</span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="history-item">
                            <span>No played matches available</span>
                        </div>
                    }
                </div>
            </section>
        </section>
        </main>
</body>
</html>